body{
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5));
    background-size:cover;
    background-position: center;
    background-color: palegreen;
}

.login-box{
    max-width: 900px;
    float: none;
    margin: 150px auto;
}

.login-left{
    background:blue;
    padding: 30px;

}

.login-right{
    background:blue;
    padding: 30px;
}

.form-control{
    background-color: transparent !important;
}